    
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with an opacity of 0 (invisible) */
    }
    to {
        opacity: 1; /* End with an opacity of 1 (fully visible) */
    }
}

.characterContainer {
    position: absolute;
    top: 12vh;
    left: -2vw;
    width: 30vw;
    height: 50vh;

}

.characterContainer img {
    position: absolute;
    margin-top: -10%;
    
}

.characterContainer h1 {
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
}

.profileInfoContainer {
    background-image: url("https://i.postimg.cc/t4pnc9yt/Namnl-s-design-5-removebg-preview.png");
    /*background-image: url("https://i.postimg.cc/7hmCCcKk/Namnl-s-design-3.png"); */
    background-position: 45%;
    background-size: 120%;
    border-width: 25px;
    border-color: #965948; 
    border-style:groove;
    position: absolute;
    width: 60vw;
    height: 60vh;
    left: 25vw;
    top: 13vh;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;  
}

.profileInfoContainer h1 {
    animation: fadeIn 2s ease-in;
}

.profileInfoHeader {
    position: absolute;
    height: 20%;
    width: 100%;
    text-align: center;
}

.profileInfoHeader h1 {
    font-size: 32px;
    margin-top: 2%;
}

.stats1 {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 50%;
    height: 80%;    
}

.stats2 {
    position: absolute;
    width: 50%;
    height: 80%;
    left: 48%;
    top: 30%;
}

.stats1 h1 {
    font-size: 28px;
    margin-top: 2%;
    
}

.stats2 h1 {
    font-size: 28px;
    margin-top: 2%;
    
}