@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.postimg.cc/rpXcypp7/pixelGif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.logo-container {
  position: absolute;
  margin-top: -6.5%;
  margin-left: -4%;
}

.wordBoxBackground {

  position: absolute;
  top: 20vh;
  left: 18vw;
  width: 70vw;
  height: 50vh;
  background-image: url("https://i.postimg.cc/g2ZrYDTS/najs-Papper-removebg.png");
  background-size: 95% 80%;
  background-position: left;
  background-repeat: no-repeat;
  background-clip: unset;
  z-index: -1;
}

.wordBox {
  /*POSITIONING*/

  width: 50vw;
  height: 25vh;
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* STYLING*/
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
  line-height: 1.2;
  max-height: calc(1.7 * 2.25em);
  font-weight: bold;

}

.wordWrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-height: calc(1.7 * 2.25em);
}

.word {
  margin-right: 10px;
  /* Add space between words */
}


.correct {
  color: white;
}

.incorrect {
  color: red;
}

.incorrectWord {
  text-decoration: underline red;
}

.cursor {
  transition: left 0.15s ease;
  rotate: 0.25rad;



}

.timer {
  display: flex;
  /* Use flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  position: absolute;
  left: 0;
  top: 13.5%;
  width: 100%;
  /* Ensure full width */
  font-size: 350%;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.explosionContainer {
  margin-top: 0%;
  margin-left: 40%;
  width: 500px;
  height: 500px;
}

.statsBox {
  width: 45vw;
  /* Set width to 50% of the viewport width */
  height: 25vh;
  /* Set height to 25% of the viewport height */
  position: absolute;
  /* Center the div horizontally and vertically */
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);

  /* STYLING*/
  display: flex;
  flex-direction: column;
  /* Arrange items vertically */
  justify-content: center;
  /* Center items vertically */
  font-family: 'Roboto Mono', monospace;
  font-size: 29px;
  line-height: 1.2;
  /* Adjust line height as per your design */
  max-height: calc(1.7 * 2.25em);
  /* Calculate max height based on line height and larger font size */
  font-weight: bold;
  /* overflow: hidden;*/
}

/*ShadCn components theming*/
@layer base {
  root {
    --background: 0 0% 5%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
  }
}

/*BUTTONS*/

.buttonContainer {
  position: relative;
  overflow: hidden;
  margin-top: 60vh;
  height: 40vh;
}

.multiplayerButton {
  rotate: 0rad;
  max-width: 20%;
  max-height: 10%;
  margin-top: 5%;
  margin-left: 45%;
}

.restartButton {
  rotate: 0.2rad;
  max-width: 10%;
  max-height: 10%;
  margin-top: 0%;
  margin-left: 60%;
}

.loginButton {
  rotate: -0.15rad;
  max-width: 10%;
  max-height: 10%;
  margin-top: -3%;
  margin-left: 36%;
}

.multiplayerStick {
  position: relative;
  rotate: 0rad;
  margin-top: 0%;
  margin-left: 51%;
  max-width: 10%;
  max-height: 10%;
  z-index: -1;
}

.restartStick {
  position: relative;
  rotate: 0.2rad;
  margin-top: 0%;
  margin-left: 62%;
  max-width: 10%;
  max-height: 10%;
  z-index: -1;
}

.loginStick {
  position: relative;
  rotate: -0.15rad;
  margin-top: -2%;
  margin-left: 39%;
  max-width: 10%;
  max-height: 10%;
  z-index: -1;
}



.loginContainer {
  position: absolute;
  background-image: url("https://i.postimg.cc/7hmCCcKk/Namnl-s-design-3.png");
  background-size: 50%;
  width: 25vw;
  height: 55vh;
  left: 37.5vw;
  top: 12vh;
  border-width: 15px;
  border-style: groove;
  border-color: #965948;

}

.usernameBox {
  border: 1px;
  border-color: black;
  width: 70%;
  height: 10%;
  margin-top: 35%;
  margin-left: 15%;
  text-align: center;
  border-width: 4px;
  border-color: #965948;
  border-style: groove;
  background-color: antiquewhite;
  font-family: cursive;
  
}

.passwordBox {
  width: 70%;
  height: 10%;
  margin-top: 10%;
  margin-left: 15%;
  text-align: center;
  border-width: 4px;
  border-color: #965948;
  border-style: groove;
  background-color: antiquewhite;
  font-family: cursive;
}

.loginButtonContainer {
  position: absolute;
  width: 70%;
  height: 20%;
  margin-top: 8%;
  margin-left: 15%;
}
.loginButtonContainer img {
  margin-left: 18%;
}