@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #323437;
  /*color: #646669;*/


}

.backgroundPicture {
  position: absolute;
  /* To cover the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  /* Full viewport width */
  height: 100vh;
  /* Full viewport height */
  background-image: url("https://i.postimg.cc/rpXcypp7/pixelGif.gif");
  background-size: cover;
  /* Fill the entire div with the image */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  z-index: -1;
  /* Keep the background image behind other elements */
}

.logo-container {
  margin-top: 2, 5%;
  margin-left: 1, 5%;
}

.wordBox {
  /*POSITIONING*/
  width: 60vw;
  /* Set width to 50% of the viewport width */
  height: 25vh;
  /* Set height to 25% of the viewport height */
  position: absolute;
  /* Center the div horizontally and vertically */
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* STYLING*/
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
  line-height: 1.2;
  /* Adjust line height as per your design */
  max-height: calc(1.7 * 2.25em);
  /* Calculate max height based on line height and larger font size */
  overflow: hidden;
  font-weight: bold;

}

.word {
  margin-right: 10px;
  /* Add space between words */
}


.correct {
  color: white;
}

.incorrect {
  color: red;
}

.incorrectWord {
  text-decoration: underline red;
}

.cursor {
  transition: left 0.15s ease;


}

.timer {

  display: flex;
  /* Use flexbox */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  position: absolute;
  left: 0;
  top: 13.5%;
  width: 100%;
  /* Ensure full width */
  font-size: 350%;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.statsBox {
  width: 25vw;
  /* Set width to 50% of the viewport width */
  height: 25vh;
  /* Set height to 25% of the viewport height */
  position: absolute;
  /* Center the div horizontally and vertically */
  top: 51%;
  left: 55%;
  transform: translate(-50%, -50%);

  /* STYLING*/
  display: flex;
  flex-direction: column;
  /* Arrange items vertically */
  justify-content: center;
  /* Center items vertically */
  font-family: 'Roboto Mono', monospace;
  font-size: 29px;
  line-height: 1.2;
  /* Adjust line height as per your design */
  max-height: calc(1.7 * 2.25em);
  /* Calculate max height based on line height and larger font size */
  font-weight: bold;
  /* overflow: hidden;*/
}