.playerContainer {

    position: absolute;
    overflow: hidden;
    left: 2.5%;
    bottom: 25%;
    width: 95%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.playerContainer h1 {
    color: white;
    font-size: 32px;
    margin-left: 35%;
    margin-bottom: -8%;


}

.player1 {

    height: 100%;
    width: auto;
    position: relative;
    left: -3%;
    top: 20%;
}

.player2 {

    height: 100%;
    margin-bottom: 15%;
    width: auto;
    position: relative;
    left: -15%;
}

.player3 {

    height: 100%;
    width: auto;
    position: relative;
    left: 15%;
    top: 20%;
}

.player4 {

    height: 100%;
    width: auto;
    position: relative;
    left: 5%;
    top: 20%;
}

.player2 img {
    height: 170%;
    width: auto;


}

.textBoxBackground {

    position: relative;
    top: -30vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    background-image: url("https://i.postimg.cc/g2ZrYDTS/najs-Papper-removebg.png");
    background-size: 80% 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: unset;
    z-index: -1;
}

.textBoxBackground img {
}

.textBox {
    margin-top: 25vh;
    margin-left: 14vw;
    width: 45%;
}